html {
	font-size: 62.5%
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

.level {
    font-size: 2rem;
}

.number {
    font-size: 5rem;
}

button {
    font-size: 2rem;
}