@import "partials/setup";
@import "partials/typography";

body {
    background: mediumslateblue;
}

.wrapper {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.game-button {
    width: 20%;
    height: 100px;
}

.game-button:active {
    background: #fff;
}

.game-button0 {
    background: yellow;
}

.game-button1 {
    background: green;
}

.game-button2 {
    background: red;
}

.game-button3 {
    background: blue;
}

.start-button {
    background: white;
    width: 100%;
    margin-top: 5%;
}