@import "partials/setup";
@import "partials/typography";

// VARIABLE THINGS

$wrapperWidth: 940px;


// STYLING

body {
    background: #000;
}

.wrapper {
    max-width: $wrapperWidth;
	min-height: 100vh;
	min-width: 300px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 70vmin;
	height: 70vmin;
	min-height: 300px;
	min-width: 300px;
	display: flex;
    justify-content: space-between;
    // align-items: center;
    align-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.level-container {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.game-button {
	width: 45%;
	height: 45%;
	border-radius: 50%;
	position: relative;
}

%inner-piece {
	content: "";
	position: absolute;
	height: 50%;
	width: 50%;
	background: #000;
}

.game-button:active {
    opacity: 0.5;
}

.game-button0 {
    background: yellow;
    border-radius: 100% 0 0 0;
	&:after {
		@extend %inner-piece;
		bottom: 0;
		right: 0;
		border-radius: 100% 0 0 0;
	}
}

.game-button1 {
    background: green;
	border-radius: 0 100% 0 0 ;
	&:after {
		@extend %inner-piece;
		bottom: 0;
		left: 0;
		border-radius: 0 100% 0 0 ;
	}
}

.game-button2 {
    background: red;
	border-radius: 0 0 0 100%;
	&:after {
		@extend %inner-piece;
		top: 0;
		right: 0;
		border-radius: 0 0 0 100%;
	}
}

.game-button3 {
    background: blue;
	border-radius: 0 0 100% 0;
	&:after {
		@extend %inner-piece;
		top: 0;
		left: 0;
		border-radius: 0 0 100% 0;
	}
}

.flash {
	opacity: 0.5;
}

.start-button {
    background: white;
    width: 70%;
	margin: 20px 0 10px 0;
	display: block;
}

.disabled-button {
	pointer-events: none;
}

.cursor-thing:active {
	cursor: no-drop;
}

// ******** SLIDER *********

.slidecontainer {
	width: 70%; /* Width of the outside container */
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: #fff;
}

/* The slider itself */
.slider {
    width: 100%; 
    height: 25px;
	direction: rtl;
}

.slider-label {
	width: 100%;
	text-align: center;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

// for some reason I couldnt combine these selectors and get it to work. I tried an extend as well and it was a no go. So they live alone forever.

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px; 
	height: 25px; 
	border-radius: 0%;
    background: #fff;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 10px; 
	height: 25px; 
	border-radius: 0%;
    background: #fff;
    cursor: pointer; 
}